.container--404{
  padding: 50px 20px;

  h1{
    color: #505051;
    font-size: 70px;
    margin-bottom: 40px;
  }
  h4{
    color: #000;
    margin-bottom: 20px;
    font-size: 22px;
  }
  p{

  }
  a{
    display: inline-block;
    color: #fff;
    background-color: #00ABF7;
    height: auto;
    padding: 8px 10px;
    margin-top: 24px;
    margin-left: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.22);
  }
}