footer {
  background-color: rgba(0, 0, 0, 0.50);
  margin-top: 40px;
  padding: 30px 0px;
  @media #{$m2560} {
    margin-top: 22rem;
  }
  .container--top {
    max-width: 85%;
    padding-bottom: 25px;
    width: 100%;

    @media #{$M480} {
      max-width: 100%;
    }

    .container__info {
      display: table;

      .footer--logo-toning {
        display: table-cell;
        vertical-align: middle;

        @media #{$M767} {
          display: table-row;
        }
      }
      .footer--info {
        color: white;
        display: table-cell;
        vertical-align: middle;

        p {
          @include font($site--font, $w--light);
          border-left: 4px solid $amarillo;
          font-size: 20px;
          margin-left: 25px;
          padding: 15px 15px;
          text-transform: uppercase;

          @media #{$M767} {
            border-top: 1px solid $amarillo;
            margin-left: 0px;
            padding: 20px;
            border-left: none;
            margin-top: 20px;
            font-size: 16px;
          }
        }
      }
    }
  }

  .container--bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    max-width: 100%;
    padding-top: 20px;
    width: 100%;

    #copyright {
      p {
        color: #BABAB9;
        font-size: 18px;

        @media #{$M767} {
          font-size: 16px;
        }
      }
      small{
        color: #BABAB9;
      }
    }

    #copyright--internas {

      .new-footer-internas{
        position: relative;
        min-height: 5vw;
        p{
          color: #BABAB9;
          font-size: 18px;
          margin-bottom: 10px;
        }
        small{
          color: #BABAB9;
        }
        @media #{$M480} {
          min-height: 55vw;
        }
      }

      .container--table {
        display: table;
        width: 100%;

        p {
          color: #BABAB9;
          display: table-cell;
          font-size: 18px;
          vertical-align: middle;
          width: 70%;

          @media #{$M767} {
            font-size: 16px;
          }

          @media #{$M480} {
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 20px;
            padding: 0px 15px;
          }
        }

        .logos--footer {
          display: table-cell;
          vertical-align: middle;
          width: 30%;

          @media #{$M480} {
            display: table-row;
            padding-top: 10px;
          }

          #footer--logo-legal {
            width: 80px;
          }

          #footer--logo-autoriza {
            margin-left: 15px;
            margin-top: 10px;
            width: 150px;
          }
        }

      }
    }

  }
  .logos--footer{
    position: absolute;
    right: 1%;
    bottom: -2px;
    max-width: 30%;
    #footer--logo-legal{
      margin-right: 10px;
      width: 28%;
      vertical-align: top;
    }
    @media #{$M480} {
      display: block;
      margin: 0 auto;
      bottom: 0;
      right: 0;
      width: 100%;
      max-width: 100%;//
    }
  }
}
