header{
  display: block;
  width: 100%;
  height: auto;
  padding: 0 20px;
  z-index: 100;

  @media #{$m992} {
    padding: 0 60px;
  }

  nav{
    background-color: transparent !important;
    box-shadow: none !important;

    .navbar-header{
      .navbar-brand{
        img{

          &#logo--autoriza,
          &#logo--legal{
            position: relative;
            display: inline-block;
          }

          &#logo--autoriza{
            top: -20px;

            @media #{$M767} {
              width: 130px;
            }
          }

          &#logo--legal{
            top: -17px;
            margin-left: 20px;

            @media #{$M767} {
              width: 60px;
            }
          }

        }
      }
    }

    .navbar-collapse{
      background: transparent;

      ul li a{
        @media #{$M992} {
          margin-bottom: -1px !important;
        }
      }

      &::after {
        background-color: rgba(0, 0, 0, 0.78);
      }
    }

    .collapse{
      ul{
        margin-top: 15px;

        li{
          padding: 0px 20px;
          &.active{
            a{
              border-bottom: 1px solid $amarillo;
            }
          }

          &.redes{
            @media #{$M992} {
              text-align: center;
            }
          }

          a{
            @include font($site--font, $w--light);
            text-transform: initial !important;
            font-size: 20px !important;
            color: white !important;
            border-radius: 0 !important;

            span.text--responsive{
              display: none;
              
              @media #{$M992} {
                display: inline-block;
                margin-left: 5px;
                position: relative;
                top: 2px;
              }
            }
          }

          &#icon--home{
            a{
              i{
                font-size: 28px;
              }
            }
          }

          &#redes{
            a{
              display: inline-block;
            }
          }
        }
      }
    }

  }

}
