@mixin font($font-family, $weight: normal, $style: normal) {
  font-family: $font-family !important;
  font-style: $style !important;

  @if $weight == 100 { //thin
    font-weight: $weight !important;
  } @else if $weight == 200 { //extralight
    font-weight: $weight !important;
  } @else if $weight == 300 { //light
    font-weight: $weight !important;
  } @else if $weight == 500 { //medium
    font-weight: $weight !important;
  } @else if $weight == 600 { //semibold
    font-weight: $weight !important;
  } @else if $weight == bold { //bold
    font-weight: $weight !important;
  } @else if $weight == 800 { //extrabold
    font-weight: $weight !important;
  } @else if $weight == 900 { //black
    font-weight: $weight !important;
  } @else { //normal
    font-weight: $weight !important;
  }
}