// breakpoints
$SXS:         375px;
$XS:          580px;
$S:           680px;
$M:           768px;
$L:           1280px;
$LMENU:       1580px;
$LCAR:        1480px;
$LCARMIN:     1480px;
$XL:          1300px;
$XLMAX:       1300px;
$XLMENUMAX1:  1320px;
$XLMENUMAX:   1365px;
$XLMENU:      1500px;
$GARANTIA:    1520px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (max-width: $S) { @content; }
  }
  @else if $canvas == XS {
    @media only screen and (max-width: $XS) { @content; }
  }
  @else if $canvas == SXS {
    @media only screen and (max-width: $SXS) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (max-width: $M) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (max-width: $L) { @content; }
  }
  @else if $canvas == LMENU {
    @media only screen and (max-width: $LMENU) { @content; }
  }
  @else if $canvas == XL {
    @media only screen and (min-width: $XL) { @content; }
  }
  @else if $canvas == XLMAX {
    @media only screen and (max-width: $XLMAX) { @content; }
  }
  @else if $canvas == XLMENU {
    @media only screen and (min-width: $XLMENU) { @content; }
  }
  @else if $canvas == XLMENUMAX {
    @media only screen and (max-width: $XLMENUMAX) { @content; }
  }
  @else if $canvas == XLMENUMAX1 {
    @media only screen and (max-width: $XLMENUMAX1) { @content; }
  }
  @else if $canvas == LCAR {
    @media only screen and (max-width: $LCAR) { @content; }
  }
  @else if $canvas == LCARMIN {
    @media only screen and (min-width: $LCARMIN) { @content; }
  }
  @else if $canvas == GARANTIA {
    @media only screen and (max-width: $GARANTIA) { @content; }
  }
}

// Mayuscula max width
$M1540: "screen and (max-width : 1540px)" !default;
$M1440: "screen and (max-width : 1440px)" !default;
$M1366: "screen and (max-width : 1366px)" !default;
$M1280: "screen and (max-width : 1280px)" !default;
$M1140: "screen and (max-width : 1140px)" !default;
$M992: "screen and (max-width : 992px)" !default;
$M767: "screen and (max-width : 767px)" !default;
$M480: "screen and (max-width : 480px)" !default;
$M375: "screen and (max-width : 375px)" !default;
$M350: "screen and (max-width : 350px)" !default;
// Minuscula min width
$m992: "(min-width : 992px) and (max-width : 1199px)" !default;
$m768: "(min-width : 768px) and (max-width : 991px)" !default;
$m480: "(min-width : 480px) and (max-width : 767px)" !default;
$m320: "(min-width : 320px) and (max-width : 479px)" !default;

//Min width
$m2560: "(min-width : 2560px)" !default;
$m1920: "(min-width : 1920px)" !default;
/*
Uso:

@media #{$M500}{
  width: 190px;
}

*/

