*,
*::after,
*::before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: $font-size-lg-html;
	@media screen and (max-height: rem(680)){
		font-size: $font-size-sm-heigth;
	}
}

body{
	background-attachment: fixed;
	background-image: url($site--background);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $site--color;
	font-family: $site--font;
	font-size: 16px;
	font-weight: normal;
	position: relative;
	@media #{$M480} {
		background-attachment: initial;
	}

	&.no-scroll-loading{
		overflow: hidden !important;
	}
}

strong{
	font-weight: 700;
}

p,
ol,
ul,
img,
span,
strong{
	animation: fadeInScale .3s ease-in-out;
	-moz-animation: fadeInScale .3s ease-in-out;
	-webkit-animation: fadeInScale .3s ease-in-out;
}

// Loop over list of headings
// @each ( $heading : $size )
@each $heading, $size in $headings{
	#{$heading}{
		display: block;
		padding: 10px 0px;
		font-size: $size;
		font-family: $titles--font;
		-webkit-animation: fadeInScale .3s ease-in-out;
		-moz-animation: fadeInScale .3s ease-in-out;
		animation: fadeInScale .3s ease-in-out;
	}
}

//
main{
}

.no-gutters{
	margin: 0px;
}

.no-padding{
	padding: 0px;
}

.no-padding-responsive{
	@media #{$M480} {
		padding: 0px;
	}
}

.form--generic{
	margin-bottom: 60px;

	.container-center-info{
		margin: 0 auto;
		max-width: 85%;
		width: 100%;

		@media #{$M480} {
			max-width: 100%;
		}

		#column--el-sabor-del-gol{
			text-align: center;

			img{
				display: inline-block;
				max-width: 855px;
				width: 100%;
			}
		}

		#columna--form-pasos{
			padding-top: 100px;

			@media #{$M1440} {
				padding-top: 20px;
			}
		}
	}

	.step--info{
		width: 100%;

		h1{
			@include font($site--font, $w--bold);
			color: white;
			font-size: 60px;
			padding-bottom: 25px;
			text-transform: uppercase;

			@media #{$M1540} {
				font-size: 52px;
			}

			@media #{$M1440} {
				font-size: 4vw;

				br{
					display: none;
				}
			}

		}
		span{
			color: $amarillo;
			display: block;
			font-size: 27px;
			@include font($site--font, $w--light, italic);
			margin-bottom: 30px;

			@media #{$M1540} {
				font-size: 22px;
			}

			@media #{$M1440} {
				font-size: 22px;

				br{
					display: none;
				}
			}

		}
	}

	.step--container{
		background-color: rgba(0, 0, 0, 0.38);
		border: 1px solid rgba(255, 255, 255, 0.3);
		margin: 0 auto;
		max-width: 85%;
		width: 100%;

		@media #{$M1440} {
			max-width: 90%;
		}

		@media #{$M480} {
			max-width: 100%;
		}

		.step--container_header{

			.stepsbar{
				width: 100%;

				ol{
					animation: chase 1s 1 forwards;
					counter-reset: li;
					font-size: 1em;
					line-height: 1.2;
					list-style: none;
					margin: 0;
					overflow: hidden;
					padding: 20px 0;
				}

				li{
					color: #CCC;
					counter-increment: li;
					display: inline;
					float: left;
					position: relative;
					text-align: center;
					transition: all 0.5s ease;
					width: 33.33%;

					span{
						@include font($site--font, $w--light);
						color: #84878E;
						font-size: 20px;
						position: relative;
						top: -30px;
					}

					&:before{
						background-color: #FFF;
						color: #FFF;
						content: "";
						display: block;
						font-size: 0.9em;
						height: 20px;
						margin: 0 auto 10px;
						position: relative;
						text-align: center;
						top: 35px;
						width: 1px;
						z-index: 2;
					}

					&:after{
						background: #E4DADA;
						background-repeat: repeat-x;
						background-size: 20px 20px;
						content: "";
						display: block;
						height: 10px;
						left: -42%;
						margin-top: -1.2em;
						position: absolute;
						top: 110%;
						width: 160%;
						z-index: 1;
					}

					&.done{
						span{
							color: #FFF;
						}

						&:after{
							animation: progress 0.3s linear 10;
							background-color: $amarillo;
							left: 0;
							width: 100%;
						}
					}

					&.active{
						width: 28%;

						span{
							color: $amarillo;
						}

						&:after{
							background: $amarillo;
							left: 0;
							width: 50%;
						}
						&:before{
							animation: progress .5s linear infinite;
							animation-delay: 3s;
						}
					}
				}

			}

			@keyframes chase{
				from{
					width: 80%;
				}

				to{
					width: 100%;
				}
			}

			@keyframes progress{
				to{
					background-position: 20px 0;
				}
			}

		}
		//.stepsbar

		.step--container_form{
			display: block;
			margin: 0 auto;
			max-width: 80%;
			padding: 0px 20px;
			padding-bottom: 20px;
			width: 100%;

			@media #{$M1440} {
				max-width: 90%;
			}

			@media #{$M767} {
				max-width: 90%;
			}

			@media #{$M480} {
				max-width: 100%;
			}

			form{
				.form-group{
					&.is-focused .form-control{
						background-image: linear-gradient($amarillo, $amarillo), linear-gradient(#D2D2D2, #D2D2D2) !important;
					}

					&.is-focused,
					&.label-floating:not(.is-empty){
						label{
							top: -50px !important;
						}
					}

					label.control-label{
						color: #FFF;
						font-size: 18px;
						font-weight: 500;
						line-height: initial;
						margin: 20px 0 0 0;
						padding-left: 15px;

						@media #{$M1366} {
							font-size: 16px;
							margin: 22px 0 0 0;
						}
					}

					#label-datepicker{
						@media #{$M1366} {
							margin-top: 14px !important;
						}
					}

					input{
						background-color: rgba(0, 0, 0, 0.5);
						background-image: linear-gradient($amarillo, $amarillo), linear-gradient(rgba(255, 255, 255, 0.5490196078431373), rgba(255, 255, 255, 0.5490196078431373));
						background-position: center bottom, center calc(100% - 0px);
						border: 1px solid rgba(255, 255, 255, 0.5490196078431373);
						border-bottom: 0;
						color: #FFF;
						font-size: 16px;
						padding: 25px 10px;

						@media #{$M1366} {
							font-size: 15px;
						}
					}

					&.error,
					&.has-error{
						label.control-label{
							color: #F44336;
							top: -50px !important;
						}
					}

				}

				.error-message{
					color: #D1D1D1;
					font-size: 13px;
					padding: 2px 0px;
				}

				.bootstrap-select{
					.btn{
						background-color: rgba(0, 0, 0, 0.5);
						border: 1px solid rgba(255, 255, 255, 0.5490196078);
						border-radius: 0;
						color: white;
						font-size: 18px;
						font-weight: 500;
						margin-top: 12px;
						padding: 12px 10px;
						padding-left: 15px;
						text-transform: capitalize;

						@media #{$M1366} {
							font-size: 15px;
						}
					}
				}

				.checkbox{
					label{
						color: #FFF;
						font-size: 18px;

						a{
							color: $amarillo;
						}

						.checkbox-material{
							.check{
								background-color: rgba(0, 0, 0, 0.5);
								border: 1px solid rgba(255, 255, 255, 0.5490196078);
								border-radius: 0;
								color: white;
							}
						}
					}
				}

				.dropdown-menu{
					background-color: rgba(0, 0, 0, 0.6);
					border: 1px solid rgba(255, 255, 255, 0.5490196078);
					border: 1px solid rgba(0, 0, 0, 0.15);
					border-radius: 0px;

					li{
						a{
							color: white;

							&:hover{
								color: #4E4004;
								box-shadow: 0 5px 20px 0px rgba(255, 211, 1, 0.2), 0 13px 24px -11px rgba(255, 211, 1, 0.6);
								background-color: $amarillo;
							}
						}
					}
				}

				.footer{
					.btn{
						@include font($site--font, $w--medium);
						background-color: $amarillo !important;
						border-radius: 0;
						color: $deep-bronze-color !important;
						font-size: 18px;
						max-width: 50%;
						width: 100%;

						@media #{$M767} {
							font-size: 16px;
							max-width: 100%;
						}

						@media #{$M375} {
							font-size: 13px;
							max-width: 100%;
							padding: 18px 5px;
						}

						&.btn:focus,
						&.btn:active,
						&.btn:hover{
							box-shadow: 0 14px 26px -12px rgba(255, 211, 1, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 211, 1, 0.2);
						}

					}
				}
				//.footer
			}
			//form

			.user--name{
				@include font($site--font, $w--medium);
				color: white;
				font-size: 35px;
				margin-bottom: 0px;

				@media #{$M767} {
					font-size: 25px;
				}
			}

			.bootstrap-datetimepicker-widget{
				background-color: rgb(255, 255, 255) !important;

				table td.active > a,
				table td span.active,
				table td.active > div,
				table td.active:hover > div{
					background-color: $amarillo !important;
					color: #4E4004 !important;
					box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 211, 1, 0.4) !important;
				}
			}

			.info--code{
				span{
					display: inline-block;
					color: white;
					font-size: 25px;
					margin-top: 20px;
					margin-bottom: 20px;

					@media #{$M767} {
						font-size: 20px;
					}

					@media #{$M480} {
						font-size: 15px;
					}

					@media #{$M375} {
						margin-bottom: 0px;
						font-size: 14px;
					}
				}

				p{
					display: block;
					color: white;
					font-size: 16px;
					margin-bottom: 20px;
					font-style: italic;

					@media #{$M767} {
						font-size: 14px;
					}

					@media #{$M375} {
						font-size: 12px;
					}
				}
			}

			#select--num-prod-compra{
				.btn{
					margin-top: 16px;

					@media #{$M1366} {
						margin-top: 18px;
					}
				}
			}

			.info--ingresadatoscompra{
				display: block;
				color: white;
				font-size: 25px;
				margin-top: 0px;
				margin-bottom: 20px;

				@media #{$M767} {
					font-size: 20px;
				}
			}

			input{
				@include placeholder{
					color: #FFF;
					font-size: 18px;
					font-weight: 500;
					line-height: initial;
					margin: 20px 0 0 0;
					padding-left: 15px;

					@media #{$M1366} {
						font-size: 15px;
					}
				}
			}

			.popup--overs{
				position: absolute;
				top: 34px;
				right: 22px;
				padding: 0px;
				margin: 0;
				background: transparent;
				box-shadow: none;

				@media #{$M1366} {
					top: 40px;

					@media #{$M767} {
						top: 12px;
						z-index: 100;
					}
				}

				img{
					width: 35px;
					height: auto;

					@media #{$M1366} {
						width: 25px;
					}
				}

				&.overs-selects{
					top: 18px;
					right: -30px;
					border-radius: 10px;

					@media #{$M1366} {
						top: 24px;
						right: -18px;
					}
				}

				&.overs-inline{
					position: relative;
					top: 0;
					left: 0;
					display: inline-block;
					margin-left: 10px;

					@media #{$M480} {
						left: 0px;
					}

					@media #{$M375} {
						top: 2px;
					}
				}
			}

		}
		//.step--container_form
	}
	//.step--container
}

//.form--generic
.page--register-codes{
	.step--container_form{
		@media #{$M480} {
			max-width: 90% !important;
		}
	}
}