.no-padding {
  padding: 0 !important;
}

#terminos-y-condiciones {
  position: relative;
  .container{
    width: 100%;
    max-width: 85%;

    @media #{$M767}{
      max-width: 100%;
    }

  .title-content {
    margin-bottom: -70px;
    z-index: 1000;
    @media screen and (max-width: 1024px) {
      margin-bottom: 105px;
    }
    .logo {
      @media all and (max-width: 500px) {
        padding: 0;
      }
    }

    .title {
      padding: 20px;
      h1 {
        color: white;
        margin: 0;
        font-size: 3.8rem;
        padding-top: 5vw;

        @media #{$M1440} {
          padding-top: 2vw;
        }

        @media all and (max-width: 500px) {
          font-size: 2rem;
          padding-top: 0px;
        }
      }
    }
  }

  .text-style {
    width: 100%;
    height: 60vh;
    max-height: 60vh;
    border: solid 3px gray;
    border-radius: 6px;
    padding: 40px 15px 40px 40px;
    background: rgba(0, 0, 0, 0.7);
    @media all and (max-width: 500px) {
      padding: 20px 15px 20px 0;
      height: 65vh;
      max-height: 65vh;
    }
    @media all and (min-width: 501px) and (max-width: 1024px) {
      padding: 20px 15px 20px 0px;
      height: 45vh;
      max-height: 45vh;//
    }
    .text-content {
      text-align: justify;
      max-height: 100%;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(255, 255, 255, 0.07);
      }
      &::-webkit-scrollbar-track {
        border: 0px solid black;
        background-color: rgba(255, 255, 255, 0.07);
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ffeb3b;
      }
    }

    h2,
    h3,
    p,
    ul,
    ol{
      color: white;
      margin: 0;
      padding: 0;
    }
    h2{
      margin:20px 0;
    }
    h3{
      margin:20px 0;
      font-size:20px;
    }
    ul,ol{
      padding-left:40px;
    }

	  a{
		  color: $amarillo;
	  }

  }
  }
}
