#ver-ganadores {
  position: relative;
  .container {
    width: 100%;
    max-width: 85%;

    @media #{$M767}{
      max-width: 100%;
    }

    .title-content {
      margin-bottom: -70px;
      z-index: 1000;
      @media screen and (max-width: 1024px) {
        margin-bottom: 105px;
      }
      .logo {
        @media all and (max-width: 500px) {
          padding: 0;
        }
      }

      .title {
        padding: 20px;
        h1 {
          color: white;
          margin: 0;
          font-size: 3.8rem;
          padding-top: 5vw;
          @media #{$M1440} {
            padding-top: 2vw;
          }
          @media all and (max-width: 500px) {
            font-size: 2rem;
            padding-top: 0px;
          }
        }
      }
    }
  }

  .table-style {
    p{
      color:white;
      text-align: left;
    }
    span{
      color: white;
    }
    width: 100%;
    height: 60vh;
    max-height: 60vh;
    border: solid 3px gray;
    border-radius: 6px;
    padding: 40px 15px 40px 40px;
    background: rgba(0, 0, 0, 0.7);
    @media screen and (max-width: 1024px) {
      padding: 20px 15px 20px 0;
      height: 45vh;
      max-height: 45vh;
    }
    @media screen and (max-width: 500px) {
      padding: 20px 15px 20px 0;
      height: 65vh;
      max-height: 65vh;
    }
    .table-content {
      text-align: justify;
      max-height: 100%;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(255, 255, 255, 0.07);
      }
      &::-webkit-scrollbar-track {
        border: 0 solid black;
        background-color: rgba(255, 255, 255, 0.07);
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ffeb3b;
      }
    }

  }
}