#titulos-slider{
  background-color: #4A72B0;
  color: #fff;
  display: inline-block;
  padding: 10px 100px;
  font-size: 25pt;
  margin-bottom: 40px;

  @media screen and (max-width: 560px){
    font-size: 20pt;
    padding: 10px 10px;
    display: block;
  }
}