.page--codigo-ganador {
  #container--ganador {
    margin-top: 60px;
    max-width: 80%;
    width: 100%;

    @media #{$M992}{
      max-width: 100%;
    }

    &:before {
      background-image: url($site--confeti);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      content: '';
      display: block;
      height: 100vh;
      left: 0;
      max-width: 80%;
      position: absolute;
      top: 0;
      width: 100%;

      @media #{$M992}{
        max-width: 100%;
      }
    }

    .cuadro--codigo-ganador {
      background-image: url($site--imgCodigoGanador);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 33vw;
      max-height: 28vw;
      margin: 0px auto;
      max-width: 552px;
      width: 100%;
      overflow: hidden;
      position: relative;
      @media #{$m2560}{
        max-width: 750px;
      }
      @media #{$M992}{
        max-width: 100%;
        height: 65vw;
        max-height: 65vw;
      }

      @media #{$M480}{
        height: 100vw;
        max-height: 100vw;
      }

      .codigo-ganador-content {
        top: 60%;
        @include center(x);
        position: absolute;
        text-align: center;

        @media #{$M480}{
          top: 48%;
        }

        @media #{$M375}{
          top: 46%;
        }

        h4, span, small {
          color: white;
        }

        h4 {
          @include font($title-codeFont, $w--medium);
          font-size: 3vw;
          text-transform: uppercase;

          @media #{$M992}{
            font-size: 7vw;
          }

          @media #{$M480}{
            font-size: 12vw;
          }

          @media #{$M375}{
            font-size: 14vw;
            padding-bottom: 0px;
            padding-top: 14px;
          }

          @media #{$M350}{
            font-size: 14vw;
            padding-bottom: 0px;
            padding-top: 5px;
          }
        }

        span {
          @include font($site--font, $w--light);
          font-size: 1.3vw;
          text-transform: uppercase;

          @media #{$M992}{
            font-size: 3.3vw;
          }

          @media #{$M480}{
            font-size: 5.3vw;
          }

          @media #{$M375}{
            font-size: 4.3vw;
          }
        }

        small {
          display: block;
          @include font($site--font, $w--light);
          font-size: 0.9vw;
          margin-top: 10px;
          text-transform: uppercase;

          @media #{$M992}{
            font-size: 1.9vw;
          }

          @media #{$M480}{
            font-size: 2.9vw;
          }
        }

      }
    }

    .informacion--ganador {
      margin-top: 13vw;
      width: 100%;

      @media #{$M992}{
        margin-top: 2vw;
      }

      h2, span {
        color: white;
        display: block;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.54);
      }

      h2 {
        @include font($site--font, $w--medium);
        font-size: 3vw;

        @media #{$M992}{
          font-size: 6vw;
        }
      }
      span {
        @include font($site--font, $w--bold);
        font-size: 6vw;

        @media #{$M992}{
          font-size: 11vw;
        }
      }
      //informacion--ganador
    }
    //container--ganador

    .premio {
      h4 {
        color: white;
        font-size: 30px;
        margin-bottom: 20px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.54);
        @media #{$m2560}{
          font-size: 40px;
        }
      }
    }

    .enlaces--premio {
      margin-top: 20%;

      @media #{$M992}{
        margin-top: 3%;
      }

      a {
        &.btn-reclama {
          background-color: #FFD301;
          border-radius: 0;
          color: #4E4004;
          display: inline-block;
          font-size: 30px;
          font-style: normal !important;
          font-weight: 500 !important;

          @media #{$M992}{
            font-size: 4vw;
          }
        }
        &.btn-volver-inicio {
          color: white;
          display: block;
          font-size: 25px;
          margin-top: 20px;

          @media #{$M992}{
            font-size: 3vw;
          }
        }
      }
    }

  }
  //page--codigo-ganador
}
