.page--home {
  #column--el-sabor-del-gol {
    text-align: center;

    img {
      display: inline-block;
      max-width: 855px;
      width: 100%;
    }
  }

  #columna--form-pasos {
    padding-top: 40px;
  }

  .step--info {
    margin: 0 auto;
    max-width: 85%;
    width: 100%;

    @media #{$M1440} {
      max-width: 90%;
    }

    h1 {
      @include font($site--font, $w--bold);
      color: white;
      font-size: 60px;
      padding-bottom: 25px;
      text-transform: uppercase;

      @media #{$M1540} {
        font-size: 52px;
      }

      @media #{$M767} {
        font-size: 25px;

        br{
          display: none;
        }
      }

      @media #{$M1440} {
        font-size: 4vw;
        padding: 0;
        margin-top: -20px;

        br{
          display: none;
        }
      }

    }
    span {
      color: $amarillo;
      display: block;
      font-size: 27px;
      @include font($site--font, $w--light, italic);
      margin-bottom: 30px;

      @media #{$M1540} {
        font-size: 22px;
      }

      @media #{$M1440} {
        font-size: 22px;

        br{
          display: none;
        }
      }

    }
  }

  .step--container {
    background-color: rgba(0, 0, 0, 0.38);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    max-width: 85%;
    width: 100%;

    @media #{$M1440} {
      max-width: 90%;
    }

    .step--container_header {

      .stepsbar {
        width: 100%;

        ol {
          animation: chase 1s 1 forwards;
          counter-reset: li;
          font-size: 1em;
          line-height: 1.2;
          list-style: none;
          margin: 0;
          overflow: hidden;
          padding: 20px 0;
        }

        li {
          color: #ccc;
          counter-increment: li;
          display: inline;
          float: left;
          position: relative;
          text-align: center;
          transition: all 0.5s ease;
          width: 33.33%;

          span {
            @include font($site--font, $w--light);
            color: #84878E;
            font-size: 20px;
            position: relative;
            top: -30px;
          }

          &:before {
            background-color: #fff;
            color: #fff;
            content: "";
            display: block;
            font-size: 0.9em;
            height: 20px;
            margin: 0 auto 10px;
            position: relative;
            text-align: center;
            top: 35px;
            width: 1px;
            z-index: 2;
          }

          &:after {
            background: #E4DADA;
            background-repeat: repeat-x;
            background-size: 20px 20px;
            content: "";
            display: block;
            height: 10px;
            left: -42%;
            margin-top: -1.2em;
            position: absolute;
            top: 110%;
            width: 160%;
            z-index: 1;
          }

          &.done {
            span {
              color: #fff;
            }

            &:after {
              animation: progress 0.3s linear 10;
              background-color: $amarillo;
              left: 0;
              width: 100%;
            }
          }

          &.active {
            width: 28%;

            span {
              color: $amarillo;
            }

            &:after {
              background: $amarillo;
              left: 0;
              width: 50%;
            }
            &:before {
              animation: progress .5s linear infinite;
              animation-delay: 3s;
            }
          }
        }

      }

      @keyframes chase {
        from {
          width: 80%;
        }

        to {
          width: 100%;
        }
      }

      @keyframes progress {
        to {
          background-position: 20px 0;
        }
      }

    }

    .step--container_form {
      display: block;
      margin: 0 auto;
      max-width: 80%;
      padding: 0px 20px;
      padding-bottom: 20px;
      width: 100%;

      @media #{$M767} {
        max-width: 100%;
      }

      form {
        .form-group {
          &.is-focused .form-control {
            background-image: linear-gradient($amarillo, $amarillo), linear-gradient(#D2D2D2, #D2D2D2);
          }
          .error-message {
            color: #d1d1d1;
            font-size: 13px;
            padding: 2px 0px;
          }

          label.control-label {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            line-height: initial;
            margin: 16px 0 0 0;
            padding-bottom: 4px;
          }

          input {
            background-color: rgba(0, 0, 0, 0.5);
            background-image: linear-gradient($amarillo, $amarillo), linear-gradient(rgba(255, 255, 255, 0.5490196078431373), rgba(255, 255, 255, 0.5490196078431373));
            background-position: center bottom, center calc(100% - 0px);
            border: 1px solid rgba(255, 255, 255, 0.5490196078431373);
            border-bottom: 0;
            color: #fff;
            font-size: 16px;
            padding: 25px 10px;
          }

        }

        .footer {
          .btn {
            @include font($site--font, $w--medium);
            background-color: $amarillo;
            border-radius: 0;
            color: $deep-bronze-color;
            font-size: 18px;
            max-width: 70%;
            width: 100%;

            &.btn:focus,
            &.btn:active,
            &.btn:hover {
              box-shadow: 0 14px 26px -12px rgba(255, 211, 1, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 211, 1, 0.2);
            }

          }
        }
      }
    }
  }//.step--container

  #promocion--valida {
    p {
      color: #fff;
      font-size: 30px;
      margin: 20px;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.54);

      @media #{$M767} {
        font-size: 22px;

        br{
          display: none;
        }
      }
    }
  }

}