#container--lista-premios{
	width: 100%;
	max-width: 85%;

	.title-content {
		margin-bottom: -70px;
		z-index: 1000;
		@media screen and (max-width: 1024px) {
			margin-bottom: 105px;
		}

		@media #{$M480}{
			margin-bottom: 20px;
		}

		.logo {
			@media all and (max-width: 500px) {
				padding: 0;
			}
		}

		.title {
			padding: 20px;

			@media #{$M480}{
				text-align: center;
			}

			h1 {
				color: white;
				margin: 0;
				font-size: 3.8rem;
				padding-top: 4.2vw;

				@media all and (max-width: 500px) {
					font-size: 2rem;
					padding-top: 0px;
				}
			}
		}
	}

	.lista--premios{
		padding: 20px 0px;

		@media screen and (max-width: 1024px){
			padding: 20px 0px;
		}

		.owl-carousel--premios{
			padding: 0px;

			.owl-item{
				border-left: 0px;
			}

			.owl-item{
				//border-left: 1px solid rgba(255, 255, 255, 0.15);

				&.firstActiveItem{
					border-left: 0;
				}
			}

			.item{
				.image-destacada{
					position: relative;
					height: 350px;
					margin:    0 auto;
					max-width: 250px;
					width:     100%;
					overflow: hidden;


					@media #{$M480}{
						height: 240px;
						max-width: 156px;
					}

					img{
						position: absolute;
						@include center(xy);
						height: auto;
						width:  100%;
					}
				}

				.info-premios-list{
					text-align: center;

					h4{
						color: white;
						display: block;
						font-size: 28px;
						//margin-top: 30px;
						text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.65);

						@media #{$M480}{
							font-size: 18px;
						}
					}
				}

				.teatro-casa{
					max-width: 350px;
					@media #{$m1920}{
						max-width: 420px;
					}
					@media #{$M480}{
						max-width: 250px;
					}
				}
				.televisores{
					max-width: 285px;
					@media #{$m1920}{
						max-width: 350px;
					}
					@media #{$M480}{
						max-width: 220px;
					}
				}
			}

			.owl-prev{
				left: -50px;
				position: absolute;
				@include center(y);
				@media #{$M480}{
					left: -30px;
				}
				&:hover{
					background: transparent;
				}
			}

			.owl-next{
				position: absolute;
				right:    -50px;
				@media #{$M480}{
					right: -30px;
				}
				@include center(y);

				&:hover{
					background: transparent;
				}
			}
		}

		.owl-nav [class*='owl-']{
			background: transparent;
			color: #B8B9B9;
			padding: 0px !important;

			i{
				font-size: 120px;

				@media #{$M480}{
					font-size: 50px;
				}
			}
		}

		.owl-dots{
			position: absolute;
			right:    40px;
			top:      -20px;

			.owl-dot{
				&.active span{
					background-color: white;
					border:           3px solid white;
				}
				span{
					background-color: transparent;
					border:           3px solid white;
					height:           15px;
					width:            15px;
				}
			}
		}
	}
}