.container--no-ganador {
  img {
    max-width: 530px;
    width: 100%;
    @media #{$M1440}{
      max-width: 350px;
    }
  }

  p {
    color: white;
    font-size: 40px;
    margin-bottom: 60px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.73);

    @media #{$M480}{
      font-size: 25px;
    }
  }

  a, a:focus, a:active {
    @include font($site--font, $w--medium);
    background-color: $amarillo;
    border-radius: 0;
    color: #4E4004;
    font-size: 18px;
    max-width: 50%;
    width: 100%;
    white-space: normal;

    @media #{$M767}{
      display: inline-block;
      max-width: 100%;
      margin: 0 auto;
    }

    &:hover, &:focus, &:active {
      background-color: $amarillo;
      box-shadow: 0 14px 26px -12px rgba(255, 211, 1, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 211, 1, 0.2);
      color: #4E4004;
    }
  }
}