.has-tooltip{
  position:relative;
  .tooltip{
    pointer-events: none;
    position: absolute;
    z-index: 9999;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    top: -15px;
    opacity: 0;
    max-width: 320px;
    min-width: 320px;
    //@include single-transition(ease-out, opacity, 300ms, 0ms);
    span{
      display:block;
      white-space:normal;
      position:relative;
      color: #555 !important;
      line-height: 1.5em;
      background: #fff;
      border: none;
      border-radius: 3px;
      box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);//
      padding: 15px;
      p{
        color: #555 !important;
        font-style: normal !important;
        margin-bottom: 0 !important;
        font-size: 12px !important;
        line-height: 20px !important;
      }
      &:after {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-top-color: #fff;
        border-width: 6px;
        left: 50%;
        margin-left: -6px;
      }
    }
  }
  &:hover span{
    opacity:1;
  }
}