// Colores ------------------------------------------------->
$site--color: #000;
$blanco: #fff;
$gris: hsl(0, 0%, 46%);
$amarillo: #FFD301;
$deep-bronze-color: #4E4004;

// Array Colores
$colors: (
    /*blanco : $blanco,
    negro: $negro,*/
);