// Fonts --------------------------------------------------->
$site--font: 'Barlow', 'PT Sans', 'sans-serif';
$titles--font: 'Barlow', 'PT Sans', 'sans-serif';
$title-codeFont: 'VT323', 'PT Sans', 'sans-serif';

// Weights
$w--thin:       100;
$w--medium:     500;
$w--extralight: 200;
$w--light:      300;
$w--semibold:   600;
$w--bold:       bold;
$w--extrabold:  800;
$w--black:      900;

// end fonts ------------------------------------------------->