@media all and (max-width: 500px){
  .show-on-mobile{
    display: block;
  }
  .no-show-on-mobile{
    display: none;
  }
}
@media all and (min-width: 501px){
  .show-on-desktop{
    display: block;
  }
  .no-show-on-desktop{
    display: none;
  }//
}