#loader {
  @include linearGradientLoader($loader--gradient-1, $loader--gradient-2);
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  img {
    position: absolute;
    width: 100%;
    max-width: 200px;
    @include center(xy);
  }

  .loading {
    font-size: 0;
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 110px;
    @include center(xy);


    &.reversed {
      li {
        animation: LOADINGREV 2s infinite;
        border: 3px solid white;
        &:nth-child(1n) {
          animation-delay: 0s;
        }
        &:nth-child(2n) {
          animation-delay: 0.2s;
        }
        &:nth-child(3n) {
          animation-delay: 0.4s;
        }
        &:nth-child(4n) {
          animation-delay: 0.6s;
        }
      }
    }

    li {
      animation: LOADING 2s infinite;
      border: 3px solid $loader--color;
      border-radius: 100%;
      height: 0;
      height: 10px;
      left: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: transformZ(0);
      width: 0;
      width: 10px;

      &:nth-child(1n) {
        animation-delay: 0s;
        left: -20px;
      }

      &:nth-child(2n) {
        animation-delay: 0.2s;
        left: 0;
      }

      &:nth-child(3n) {
        animation-delay: 0.4s;
        left: 20px;
      }

      &:nth-child(4n) {
        animation-delay: 0.6s;
        left: 40px;
      }

    }
  }
}

@keyframes LOADING {
  0% {
    transform: scale(0.5);
    background: $loader--color;
  }
  50% {
    transform: scale(1);
    background: white;
  }
  100% {
    transform: scale(0.5);
    background: $loader--color;
  }
}

@keyframes LOADINGREV {
  0% {
    transform: scale(0.5);
    background: white;
  }
  50% {
    transform: scale(1);
    background: $loader--color;
  }
  100% {
    transform: scale(0.5);
    background: white;
  }
}